<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ToDoiOSSwift.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E0B805DA1C92CE1D002116F6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E0B805EE1C92CE1D002116F6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E0B805F91C92CE1D002116F6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
